go 1.18

use (
	"./Condition Loop"
	"./Counter Based Loop"
	"./Looping Over Collection"
	"./Struct "
	./Arrays
	./Branching
	./ErrorManagement
	./Functions
	./InfiniteLoop
	./Maps
	./Slices
	./Variables
)
